<template>
    <div if:true={isLoading}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </div>
    <div class="slds-box slds-theme_default slds-m-horizontal_xx-small">
        <div class="slds-grid slds-gutters">
            <div if:false={isLoading} class="slds-col slds-size_1-of-1 slds-align_absolute-center">
                <lightning-button-group>
                    <lightning-button icon-name="utility:download" label="Download All" onclick={downloadAsCsvFile} variant="brand" ></lightning-button>
                    <lightning-button icon-name="utility:download" label="Download Selected" onclick={downloadAsCsvFile} variant="brand"></lightning-button>
                </lightning-button-group>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div if:false={isLoading} class="slds-col slds-size_1-of-5 slds-m-left_xx-small scrollable">
                <lightning-checkbox-group name="Object Selection"
                                label="Object Selection"
                                options={allObjectsNames}
                                value={selectedObjectNames}
                                onchange={handleChange}>
                </lightning-checkbox-group>
            </div>
            <div class="slds-col slds-size_4-of-5">
                <div>
                    <canvas class="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</template>